:root {
  --primary: #FDB813;
  --gray: #A9A9A9;
  --secondary: #FFFFFF;
  --lightgray: #EEEEEE;
  --black: #000000;
}

.App-container {
  display: grid;
  grid-template-columns: auto;
  padding: 0 18%;
  /* background-color: blue; */
  grid-row-gap: 7%;
}

.banner {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
}

/* .description {
  width: 200px;
} */

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
}

hr {
  background-color: var(--primary) ;
  color: var(--primary);
  border: none;
  margin-top: 10px;
}

#my-speciality {
  display: flex;
}

.speciality {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}